Flask==0.11.1
FormEncode==1.2.6
Jinja2==2.8
MarkupSafe==0.23
PAM==0.4.2
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
Pillow==2.3.0
Tempita==0.5.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Werkzeug==0.11.11
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
autokey==0.90.4
bcrypt==3.1.1
ccsm==0.9.11.3
cffi==1.8.3
chardet==2.0.1
click==6.6
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
duplicity==0.6.23
extras==1.0.0
fixtures==3.0.0
html5lib==0.999999999
httplib2==0.8
itsdangerous==0.24
linecache2==1.0.0
lockfile==0.8
lxml==3.3.3
myproject==0.0dev
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
pbr==1.10.0
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.66
pydns==2.3.6
pygobject==3.12.0
pyinotify==0.9.4
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu2
python-debian==0.1.21-nmu2ubuntu2
python-mimeparse==1.5.2
python-openid==2.2.5
python-subunit==1.2.0
python-xlib==0.14
pyxdg==0.25
reportlab==3.0
requests==2.2.1
scgi==1.13
sessioninstaller==0.0.0
simplejson==3.3.1
six==1.5.2
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
system-service==0.1.6
testrepository==0.0.20
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.7.1
virtualenv==1.11.4
wheel==0.24.0
wsgiref==0.1.2
xdiagnose==3.6.3build2
zope.interface==4.0.5
