@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#container {
  margin-top: 20px;
}
.list-group { 
    margin: 0; 
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
 }

.url-form { 
  margin: 0; 
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.url {
  margin-left: 20px;
}

input {
  margin-bottom: 5px;
}

.status {
  float: right;
  font: bold;
}

.ok {
  color: green;
}

.failed {
  color: red;
}